.signin {
    background-color: #f1f1f1;
    text-align: center;
  }
  #list{
      display: none;
  }
  #header{
      margin: auto;
  }

  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
  }